.env
.env.local
.env.*.local
node_modules
.next
tsconfig.tsbuildinfo
./supabase/.temp/project-ref
./supabase/.DS_Store
./analyze
.vercel
playwright/.auth
./test-results/
supabase/.temp
/test-results/*
.yarn
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
analyze

# Local Netlify folder
.netlify
.DS_Store
# content-collections
.content-collections

# supabase local signing key
supabase/signing_key.json